
.progressbar {
  display: inline-block;
  width: 20%;
  margin: 2% 2.5%;
  text-align: center;
}

.circle {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.circle canvas {
  vertical-align: middle;
}

.circle div {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

#c-1{
  width: 100px;
    margin-top: -4px;
}
#c-2{
  width: 70px;
      margin-top: -5px;
}
#c-3{
    width: 100px;
    margin-top: -7px;
}
#c-4{
  width: 110px;
  margin-top: -18px;
}
#c-5{
  width: 80px;
}
#c-6{
  width: 110px;
  margin-top: -18px;
}
@media (max-width:750px){
    .progressbar{
        width: 50%;
        margin-left: -33px;
    }
    .circle{
        margin:10% 0 0 7%;
    }



}