/*------------General ------*/
*{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family:'Montserrat',sans-serif;
}
img{
    width:25px;
}
.container{
    width:50%;
    margin:0 auto;
    
}
/* -----------header----------- */
.navbar-default {
    background-color: #1f88e9;
    width: 100%;
    padding:0 ;
    margin: 0;
    border-style: hidden;
    border-radius: 0;
}
.navbar-brand img{ 
    margin-top: -10%;
    width:40px;
    height: auto;
}
.box-0{
    display: grid;
    width: 90%;
    margin-top: 1%;
    grid-template-columns: repeat(5,auto);
}
ul{
    width: 90%;
    left:4%; 
}
.navbar-default .navbar-nav li a {
    color: white;
    letter-spacing: 3px;
    padding: 4%;
}
.navbar-default .navbar-nav li {
    display: inline;
    text-align: center;
    margin-left: 30%;
}
.navbar-default .navbar-nav li a:hover {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}
/* ---------- Section-1 -----------*/
.section-1{
    background-color: #1F88E9;
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
/*-White Rectangle-*/
#home{
    background-color: white;
    border: solid lightgrey;
    filter: drop-shadow(50px 50px 99px rgba(65, 65, 65, 0.059));
    border-radius: 20px;
    width: 80%;
    position: absolute;
    top: 0%;
    height: 170%;
    left:10%;
    display: flex;
    flex-direction: row;
}
.box-1{
   
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(240px,1fr)); 
}
.box-1 h2{
    grid-row: 1;
    align-self: flex-end;
    font-size:6vw;
    color: #1F88E9;
    text-align: center;
}
.box-1 h2 span{
    font-size: 4vw;
    color: black;
}
.box-1>p{
    font-size: 1.9vw;
    text-align:center;
}
.box-2{
    
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.box-2 img{
    width:90%;
    margin:auto ;
}
/*---------Section-2 --------*/
.section-2{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
#about{
    
    filter: drop-shadow(50px 50px 99px rgba(65, 65, 65, 0.059));
    border: solid lightgrey;
    border-radius: 20px;
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 100%;
    left: 10%;
    height: 170%;
}
/*---------Section-3 --------*/
.section-3{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
#skills{
   
    filter: drop-shadow(50px 50px 99px rgba(65, 65, 65, 0.059));
    border: solid lightgrey;
    border-radius: 20px;
    width: 80%;
    position: absolute;
    top: 200%;
    left: 10%;
    height: 180%;
    text-align: center;

}
#skills h1{
    text-align: left;
    font-size:6vw;
    color: #1F88E9;
}

/*---------Section-4 --------*/
.section-4{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
   
}
#certifications{

    filter: drop-shadow(50px 50px 99px rgba(65, 65, 65, 0.059));
    border: solid lightgrey;
    border-radius: 20px;
    width: 80%;
    position: absolute;
    top: 310%;
    left: 10%;
    height: 170%;
      display: flex;
    flex-direction: row;
}

/*---------Section-5 --------*/
.section-5{
    height: 300px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}
#contact{

    filter: drop-shadow(50px 50px 99px rgba(65, 65, 65, 0.059));
    border: solid lightgrey;
    border-radius: 20px;
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 410%;
    left: 10%;
    height: 170%;
    display: flex;
    flex-direction: row;
}



/*---------Media Quries-------- */

@media (max-width:750px){
    
    .box-0{
        display: flex;
        flex-direction: column;
        width: 200%;
        height: 10%;
    }
    ul{
        width: 40%;
    }
    .navbar-default .navbar-nav li {
        text-align: left;
        margin: 8% 0 0 0;
        width:60%;
    }
    .navbar-brand img{
        margin-top: -20%;
    }
    #home,#about,#certifications,#contact{
        flex-direction: column;
        
    }
    #home{
        top:0;
    }
    .box-1 h2{
        font-size: 8vw;
    }
    .box-1>h2>span {
        font-size: 5vw;
    }
    .box-1>p{
        font-size:4vw;
        text-align: center;
    }
    #home .box-2 img{
        width:80%;
    }
    .box-2 img{
        width: 70%;
    }
    #about .box-1 p,#certifications .box-1 p{
        font-size: 3vw;
    }
    #about .box-1 h2,#certifications .box-1 h2{
        font-size: 7vw;
        align-self: flex-start;
    }
 
     #skills{
        height: 220%;
         
    }
    #certifications{
        top: 360%;
    }

   
}


}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {.....}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }